#view__viewport
  > section
    width: 100%
    height: 100%
    &.section--splash
      .jumbotron
        margin: 0
        display: table
        > .container
          display: table-cell
          vertical-align: middle
          text-align: center
      > *
        width: 100%
        height: 100%
        > *
          width: 100%
          height: 100%