.paneling-container
  @include jnj__paneling(63px, 0, 0, 0)
  @include jnj__paneling-scroll--y(true, false, false, false, false)
  .paneling-body
    .row
      display: block
      margin-bottom: 0
      padding: 0
      > *
        display: block
        > *
          display: block
          padding: 10px 15px
          p
            margin: 0